.color-card__section {
  display: flex;
  flex-direction: row;
  width: 300px;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-bottom: 40px;
}

.color-card__section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 15px;
  width: 100%;
  color: var(--white-background);
  border-radius: 10px;
}

h2 {
  margin: 0;
}

.edit-button {
  background-color: var(--secondary);
  border: 1px solid var(--shadow);
  height: 2rem;
  width: 80%;
  border-radius: 10px;
  color: var(--white-background);
}

.delete-button {
  background-color: #ff006e;
  border: 1px solid var(--shadow);
  height: 2rem;
  width: 80%;
  border-radius: 10px;
  color: var(--white-background);
}
